
<div th:fragment="footer">
  <footer class="footer-pink">
    <!-- Подключаем общий CSS файл для подвала -->
    <link href="/css/header-footer.css" rel="stylesheet">

    <div class="container">
      <div class="row">

        <div class="col-lg-4 col-md-4 footer-links">
          <h5>Контакты</h5>
          <ul>
            <li><i class="bi bi-telephone me-2"></i> 8 (964) 515-57-72</li>
            <li><i class="bi bi-envelope me-2"></i> pink@cafe.ru</li>
          </ul>
        </div>
      </div>

      <div class="copyright">
        <p class="mb-0">© 2025 ООО «PINK». Все права защищены.</p>
      </div>
    </div>
  </footer>
</div>
